*{
  box-sizing:border-box;
}
body{
  margin:0;
  background:#f3f3f3;
  font-family:sans-serif;
}

.app{
  max-width:500px;
  margin:auto;
  padding:20px;

  overflow:hidden;
}

h1{
  text-align:center;
}

.form{
  background:white;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
  overflow:hidden;
}

input,
textarea,
button{
  width:100%;
  box-sizing:border-box;
  margin-top:10px;
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}

textarea{
  height:100px;
  resize:none;
}

button{
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

.card{
  background:white;
  padding:15px;
  border-radius:15px;
  margin-bottom:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.date{
  font-weight:bold;
  margin-bottom:8px;
}

input[type="date"]{
  width:100%;
  max-width:100%;
  min-width:0;

  display:block;

  padding:12px;

  font-size:16px;

  border:1px solid #ccc;
  border-radius:10px;

  background:#f4f4f4;

  overflow:hidden;

  -webkit-appearance:none;
  appearance:none;
}

input[type="date"]::-webkit-datetime-edit{
  padding:0;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  margin:0;
  padding:0;
}

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
}

.pay{
  font-size:16px;
  font-weight:bold;
  color:#007aff;
  white-space:nowrap;
}

.memo{
  margin-top:10px;
  font-size:18px;
  line-height:1.5;
}
