*{
  box-sizing:border-box;
}
body{
  margin:0;
  background:#f3f3f3;
  font-family:sans-serif;
}

.app{
  max-width:500px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
}

.form{
  background:white;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
  overflow:hidden;
}

input,
textarea,
button{
  width:100%;
  box-sizing:border-box;
  margin-top:10px;
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}

textarea{
  height:100px;
  resize:none;
}

button{
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

.card{
  background:white;
  padding:15px;
  border-radius:15px;
  margin-bottom:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.date{
  font-weight:bold;
  margin-bottom:8px;
}

 input[type="date"]{
  appearance:none;
  -webkit-appearance:none;
  width:100%;
  max-width:100%;
  display:block;
  overflow:hidden;
}
